* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    background-color: hsl(218, 23%, 16%);
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: hsl(217, 19%, 24%);
    max-width: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: auto 20px;
    padding: 30px 50px;

}

.pAdvice,
.pHeader {
    font-family: "Outfit", sans-serif;

}

.pAdvice {
    font-size: 28px;
    margin: 20px auto 0px;
    text-align: center;


}

.pHeader {

    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    word-spacing: 10px;
}

.divider {
    margin: 20px 0 30px;
    background-size: 100% 100%;
    width: 100%;
    padding: 1rem 0 1rem 0;
}

.diceContainer:hover {

    box-shadow: 0 0 40px hsl(150, 100%, 66%);
}

.diceContainer {
    border: 0;
    background-color: hsl(150, 100%, 66%);
    margin: 0 auto -50px;
    padding: 15px 16px 12px;
    border-radius: 50%;
}

.dice {
    width: 23px;
    cursor: pointer;
}